body{
    margin: 0%;
}
header{
    display: flex;
    background-color: #0A2240;
    color: white;
    
}
header table{
    margin: auto;
}
header table tr td:nth-child(2){
    font-size: 30px;
}

main{
    text-align: center;
    padding: 220px;
}

footer{
    padding: 20px;
    background-color: #0A2240;
    color: white;
    text-align: center;
}
