/* The sidebar menu */
.sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 15%; /* Set the width of the sidebar 250px*/
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #0A2240; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;/*20px*/
  }
  
  /* The navigation menu links */
  .sidenav a {
    padding: 6px 8px 6px 16px;/*6px 8px 6px 16px*/
    text-decoration: none;
    font-size: 25px;/*25px*/
    color: #c8c8c8;
    display: block;
  }

  .sidenav >:nth-child(2){
    padding-top: 15px;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: #3DB5E6;
  }
  
  .header {
    padding: 1%;
    background-color: #c8c8c8;
    width: 85%;
    margin-left: 15%;
    overflow-x: hidden;
  }

  .inventoryTabs {
    width: 80%;
    justify-content: end;
  }

  .inventoryTabs a {
    width:auto;
    background-color: #0A2240;
    color:#c8c8c8;
    font-weight: bold;
  }

  /* Style page content */
  .main {
    margin-left: 160px; /* Same as the width of the sidebar */
    padding: 0px 10px;/*0px 10px*/
  }

  #EtownLogo {
    height: 75px;
  }

  #PantryLogo {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  body{
    margin: 0%;
    overflow-x: hidden;
  }

  /* #loginBtn {
    position: absolute;
    top: 70px;
    right: 20px;
    background-color: #004B98;
    color: #c8c8c8;
    padding: 5px;
    font-weight: bold;
    border-radius: 4px;
    border-color: #004B98;
  } */
  
  /* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}

    #EtownLogo {
        height: 30px;
    }
  }