/* The sidebar menu */
.sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 230px; /* Set the width of the sidebar 250px*/
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #0A2240; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;/*20px*/
  }
  
  /* The navigation menu links */
  .sidenav a {
    padding: 6px 8px 6px 16px;/*6px 8px 6px 16px*/
    text-decoration: none;
    font-size: 25px;/*25px*/
    color: white;
    display: block;
  }

  .sidenav >:nth-child(2){
    padding-top: 15px;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: #3DB5E6;
  }

  .main{
    overflow-x: hidden;
    overflow-y: hidden;
    margin-left: 230px; /* Same as the width of the sidebar */
  }
  
  .header {
    padding: 1%;
    background-color: #c8c8c8;
    overflow-x: hidden;
  }


  .inventoryTabs {
    height: 30px;
    width:-webkit-fill-available;
    background-color: #004B98;
  }
  
  a.tab {
    display:inline-block;
    text-decoration: none;
    width: 19.4%;
    height: 26px;
    background-color: #004B98;
    color: #c8c8c8;
    font-weight: bold;
    padding: 0px;
    text-align: center;
    border-style: solid; 
    border-width: 2px;
    border-radius: 3px;
    border-color: #0A2240;
  }

  /* ALL Form Div Attributes */
  #cartDiv {
    min-width: 600px;
    min-height: 280px;
    background-color: white;

    /* Center the div to page */
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);

    border-radius: 10px;
    box-shadow: 0px 0px 0px 2px #000;
    z-index: 1;     /* Show in front of previous page content */
  } 

  /* ALL Form Attributes */
  #cartForm {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 40px;
    padding-right: 40px;
    display: flex;
    flex-direction: column;
    font-weight: bold;
  }

  /* All Form Content Attributes */  
  #cartForm>div {
    margin: 8px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  /* ALL Form Div Header Attributes */
  #cartDiv h2 {
    text-align: center;
    margin: 0;
  }

  /* Form Div Button Attributes */
  #cartDiv button {
    width: 100px;
    padding: 3px;
    text-align: center;
    margin: auto;
  }
/* below is styles for editing inventory  */
#editDiv {
  min-width: 600px;
  min-height: 300px;
  background-color: white;

  /* Center the div to page */
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);

  border-radius: 10px;
  box-shadow: 0px 0px 0px 2px #000;
  z-index: 1;     /* Show in front of previous page content */
} 
    /* ALL Form Attributes */
    #editForm {
      padding-top: 20px;
      padding-bottom: 20px;
      padding-left: 40px;
      padding-right: 40px;
      display: flex;
      flex-direction: column;
      font-weight: bold;
    }
  
    /* All Form Content Attributes */  
    #editForm>div {
      margin: 8px 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  
    /* ALL Form Div Header Attributes */
    #editDiv h2 {
      text-align: center;
      margin: 0;
    }
  
    /* Form Div Button Attributes */
    #editDiv button {
      width: 100px;
      padding: 3px;
      text-align: center;
      margin: auto;
    }

    #dropdownCat {
      position: absolute;
      left: 50%;
      top: 25%;
      transform: translate(-50%, -50%);
    }
    #dropdownProd {
      position: absolute;
      left: 50%;
      top: 40%;
      transform: translate(-50%, -50%);
    }

    .number {
      position: absolute;
      left: 50%;
      top: 55%;
      width: 20px;
      transform: translate(-50%, -50%);
    }

    #submit{
      position: absolute;
      left: 65%;
      top: 70%;
      transform: translate(-50%, -50%);
    }
    #cancaelBtn{
      position: absolute;
      left: 35%;
      top: 70%;
      transform: translate(-50%, -50%);
    }

  /* Horizontal Line Breaks in Cart Form */
  #cartDiv hr {
    width: 100%;
    background-color: #00A4BD;
  }

  /* a.tab {
    width:20%;
    background-color: #004B98;
    color:#c8c8c8;
    font-weight: bold;
    padding: 4px;
    text-align: center;
    border-style: solid;
    border-width: 2px;
    border-radius: 1px;
    border-color: #0A2240;
  } */

  #EtownLogo {
    height: 83px;
  }

  #PantryLogo {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .border {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    margin-top: 30px;
    height: 3px;
    width: 175px;
    background-color: #3DB5E6;
    border-radius: 2px
  }

  body{
    margin: 0%;
    overflow-x: hidden;
  }

   .hidden {
    display: none;
  } 

  /* Darken the page after a button click */
  .darken {
    filter: brightness(50%);
  }

  .center{
    text-align: center;
  }
  .cartstyle {
    position: absolute;
    top: 45px;
    right: 30px;
    padding: 5px;
  }

  .table {
    display: flex;
    text-align: center;
    justify-content: center;
    margin: auto;
    padding-left: 230px;
  }

  .table tr td {
    border: solid black;
    border-width: 5px;
    background-color: #c8c8c8;
  }

  .productImg {
    height: 300px;
    width:225px;
    padding: 7px;
    background-color: #c8c8c8;

  }

  .addCart{
    background-color: #004B98;
    color: #c8c8c8;
    padding: 5px;
    font-weight: bold;
    border-radius: 4px;
    border-color: #004B98;
  }

  /* #loginBtn {
    position: absolute;
    top: 70px;
    right: 20px;
    background-color: #004B98;
    color: #c8c8c8;
    padding: 5px;
    font-weight: bold;
    border-radius: 4px;
    border-color: #004B98;
  } */
  
  /* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}

    #EtownLogo {
        height: 30px;
    }
  }