*{
    margin: 0%;
}

body {
    background-color: #0A2240;
}

.home{
    padding-left: 25px;
    padding-top: 25px;
    position: fixed;
    color: #c8c8c8;
}

#headerImg {
    display: block;
    margin: auto;
    padding-bottom: 60px;
    height: 350px;
    width:100%;

}

/* .bannerClass {
    background-image: url("\docs\images\pantry-header1.jpg");
    padding: 60px;
    height: 350px;
    background-blend-mode: #81C6E8;
} */

/* .bannerClass {
  background-image: linear-gradient(var(--primary-blue), var(--primary-blue)), url(/docs/images/pantry-header1.jpg);
  background-blend-mode: color;
  min-height: 40vh;
}
.bannerClass {
  width: 100vw;
  min-height: 40vh;
  color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5% 15%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  text-shadow: 1px 1px #333333;
} */

.border {
    display: block;
    margin: auto;
    width: 160px;
    height: 4px;
    background-color: #3DB5E6;
    margin-bottom: 40px;
    border-radius: 2px;
  }

  .paragraph1 {
    padding-left: 250px;
    padding-right: 250px;
    padding-bottom: 50px;
    color: #c8c8c8;
    font-size: 23px;
    text-align: justify;
  }

  .paragraph1 h1 {
    font-size: 50px;
    color: #3DB5E6;
  }

  .paragraph2 {
    padding-left: 250px;
    padding-right: 400px;
    padding-bottom: 100px;
    color: #c8c8c8;
    font-size: 23px;
    text-align: justify;
  }

  .paragraph2 h1 {
    font-size: 50px;
    color: #3DB5E6;
  }

  .paragraph2 h2 {
    font-size: 40px;
    color: #004B98;
    font-weight: bolder;
  }

  .paragraph2 a {
    text-decoration: none;
    color:#004B98;
  }

  .paragraph2 a:hover {
    color:#3DB5E6;
    font-size: 25px;
  }