*{
    margin: 0%;
}

body {
    background-color: #0A2240;
}

.home{
    padding-left: 25px;
    padding-top: 25px;
    position: fixed;
    color: #c8c8c8;
}

#headerImg {
    display: block;
    margin: auto;
    padding-bottom: 60px;
    height: 350px;
    width:100%;

}

/* .bannerClass {
    background-image: url("\docs\images\pantry-header1.jpg");
    padding: 60px;
    height: 350px;
    background-blend-mode: #81C6E8;
} */

.border {
    display: block;
    margin: auto;
    width: 160px;
    height: 4px;
    background-color: #3DB5E6;
    margin-bottom: 40px;
  }

  .paragraph {
    padding-left: 200px;
    padding-right: 200px;
    padding-bottom: 100px;
    color: #c8c8c8;
    font-size: 23px;
    text-align: justify;
  }

  .paragraph h1 {
    font-size: 50px;
    color: #3DB5E6;
  }