h1{
    font-size: 50px;
    text-align: center;
}
header{
    background-image: linear-gradient(to bottom, rgb(50, 50, 50), rgb(150,150,150));
    padding: 25px;
}

table{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-image: linear-gradient(to top, #47B5FF, rgb(150, 150, 150));
    padding-bottom: 300px;
}

#bio{
    width: 500px;
    padding-right: 50px;
}

#pfp{
    padding-right: 100px;
}
#details{
    padding-right: 270px;
    text-align: right;
}