h1{
    font-size: 50px;
    text-align: center;
}
header{
    background-color: royalblue;
    padding: 25px;
}

#pfp{
    text-align: center;
}

table{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
td{
    border: 2px solid black;
}
#bio{
    width: 500px;
}